{% extends "admin-base.html.twig" %}

{% block title %}Tous les articles{% endblock %}

{% block main %}
  
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Catégorie</th>
        <th>Publié par</th>
        <th>Publié le</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td><a href="/article/{{ product.id }}">{{ product.id }}</a></td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td><a href="/categorie/{{ product.category_id }}">{{ product.category }}</a></td>
        <td><a href="profil/{{ product.seller_id }}">{{ product.seller }}</a></td>
        <td>{{ product.creation_date | date('Y-m-d à H:i') }}</td>
        <td><img src="/build/img/products/{{ product.image }}" alt="{{ product.name }}"></td>
        <td>
          <button class="button"><a href="/admin-modifier-article/{{ product.id }}">Modifier</a></button>
          <form action="/admin-supprimer-article/{{ product.id }}" method="POST"><input type="submit" value="Supprimer"></form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}