extends ../base.pug

block main
  h2= title
  div.content
    nav#messages-nav
      ul
        li
          a(data-link="inbox") Messages reçus
        li
          a(data-link="outbox") Messages envoyés
        li
          a(data-link="send-new") Nouveau message
    section.hidden#inbox
      if received_messages
        each message in received_messages
          article
            h3= message.subject
            - var sender = message.getSender()
            div De #[a(href=`/profil/${sender.id}`) #{sender.username}]
            div= message.content
      else
        p Aucun message reçu.
    section.hidden#outbox
      if sent_messages
        each message in sent_messages
          - var recipient = message.getRecipient()
          div À #[a(href=`/profil/${recipient.id}`) #{recipient.username}]
          div= message.content
      else
        p Aucun message envoyé.
    section#send-new
      form(method="POST" action="/messagerie")
        div.form-text
          label(for="subject") Sujet
          input(type="text" name="subject" id="subject" maxlength="50" required)
        div.form-select
          select(id="recipient_id" name="recipient_id")
            each user in users
              option(value= user.id)= user.username
        div.form-text
          label(for="content") Message
          textarea(id="content" name="content" required)
        div.form-submit
          button(type="submit") Envoyer
      if flashErrors
        ul
          each error in flashErrors
           li= error
      if flashSuccess
        p.flash= flashSuccess