extends ../base.pug

block main
  h2 Articles de #{user.username}
  div.content
    div#user-products
      each product in user.getProducts()
        div.product-card
          section.image
            img(src=`/build/img/products/${product.image}` alt= product.name)
          section.detail
            h3
              a(href=`/articles/${product.id}`) #{product.name}
            dl
              dt Description
              dd= product.description
              dt Prix
              dd= product.price
              dt Quantité disponible
              dd= product.quantity
              dt Catégorie
              dd= product.getCategoryName()
              dt Publié le
              dd= product.added_at
          section.action
            button.button
              a(href=`/modifier-article/${product.id}`) Modifier
            form(method="POST" action=`/supprimer-article/${product.id}`)
              button(type="submit") Supprimer