extends ../base.pug

block main
  h2 Profil de #{user.profile}

  //- TODO navbar

  div.content
    if flashSucess
      p= flashSuccess
    if isUserProfile
      div.profile-card
        a(href="/modifier-mon-mot-de-passe") Modifier mon mot de passe
        a(href="/modifier-mes-coordonnees") Modifier mes coordonnées
    else
      div
        a(href=`/contacter/${user.id}`) Contacter
      div
        form(method="POST" action=`/noter/${user.id}`)
          label(for="score") Noter
          select(name="score" id="score")
            option(value="1") 1
            option(value="2") 2
            option(value="4") 3
            option(value="4") 4
            option(value="5") 5
          button(type="submit") Valider
    ul
      li= user.username
      li= user.first_name + " " + user.last_name
      li= user.postal_address
      li= user.city
      li= user.zip_code
      li= user.phone_number
      li= user.score
      li Membre depuis le #{user.added_at}