{% extends "base.html.twig" %}

{% block title %}Résultats de la recherche{% endblock %}

{% block main %}
  <h2>Résultats de la recherche</h2>

  <div class="content">
    <p>Recherche : <strong>{{ search }}</strong></p>

    {% if products %}
      <ul>
        {% for product in products %}
          <li>
            <div class="product-card">
              <section class="left">
                <img src="/build/img/products/{{ product.image }}" alt="{{ product.name }}">
              </section>
              <section class="right">
                <h3><a href="/article/{{ product.id }}">{{ product.name }}</a></h3>
                <div class="detail">
                  <dl>
                    <dt>Description</dt>
                    <dd>{{ product.description | u.truncate(50) }}</dd>
                    <dt>Prix</dt>
                    <dd>{{ product.price }}</dd>
                    <dt>Quantité disponible</dt>
                    <dd>{{ product.quantity }}</dd>
                    <dt>Vendu par</dt>
                    <dd><a href="/profil/{{ product.seller_id }}">{{ product.seller }}</a></dd>
                    <dt>Publié le</dt>
                    <dd>{{ product.added_at | date('d-m-Y') }}</dd>
                  </dl>
                </div>
              </section>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Aucun résultat trouvé.</p>
    {% endif %}
  </div>
{% endblock %}