extends ../base.pug

block main
  h2= title
  div.content
    p#search-query Recherche : #[strong= search]
    if products
      ul
        each product in products
          li
            div.product-card
              section.left
                img(src=`/build/img/products/${product.image}` alt=product.name)
              section.right
                h3
                  a(href=`/articles/${product.id}`)= product.name
                div.detail
                  dl
                    dt Description
                    dd= product.description
                    dt Prix
                    dd= product.price
                    dt Quantité disponible
                    dd= product.quantity
                    dt Vendu par
                    dd
                      a(href=`/profil/${product.seller_id}`)= product.getSellerUsername()
                    dt Catégorie
                    dd
                      a(href=`/categories/${product.category_id}`)= product.getCategoryName()
                    dt Publié le
                    dd= product.added_at
    else
      p Aucun article trouvé.