{% extends "base.html.twig" %}

{% block title %}Modifier {{ product_name }}{% endblock %}

{% block main %}
  <h2>Modifier un article</h2>

  <div class="product_image">
    <img src="/build/img/products/{{ product_image }}" alt="{{ product_name }}">
  </div>

  {{ form | raw }}

  {% if error_message %}
    <div class="error_message">{{ error_message }}</div>
  {% endif %}

{% endblock %}